.contacts-container {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 280px;
  // margin-bottom: 24px;
  background-color: white;
}

.contact-links {
  text-align: left;
  padding-top: 72px;
  margin-bottom: 24px;

  i {
    // margin-top: 8px;
    font-size: 24px;
    padding: 8px;
  }
  span {
    margin-left: 16px;
  }
}
//
#email-icon:active,
#linkedin-icon:active,
#resume:active,
#phone-icon:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.contact-icon-email:hover span {
  text-decoration: underline #d44638;
}

.contact-icon-phone:hover span {
  text-decoration: underline green;
}
.contact-icon-linkedin:hover span {
  text-decoration: underline #0e76a8;
}

.email-icon {
  // color: #d44638;
  // &:hover {
  //     text-shadow:
  //   /* White glow */
  //   // 0 0 2px whitesmoke,
  //   // 0 0 0px whitesmoke,
  //   // 0 0 0px whitesmoke,
  // }
}
.linkedin-icon {
  // color: #0e76a8;
  // &:hover {
  //     text-shadow:
  //   /* White glow */
  //   // 0 0 2px whitesmoke,
  //   // 0 0 0px whitesmoke,
  //   // 0 0 0px whitesmoke,
  // }
}
.resume {
  // color: #ed2224;
  // &:hover {
  //     text-shadow:
  //   /* White glow */
  //   // 0 0 2px whitesmoke,
  //   // 0 0 0px whitesmoke,
  //   // 0 0 0px whitesmoke,
  // }
}
.phone-icon {
  // color: green;
  // &:hover {
  //     text-shadow:
  //   /* White glow */
  //   // 0 0 2px whitesmoke,
  //   // 0 0 0px whitesmoke,
  //   // 0 0 0px whitesmoke,
  // }
}
#email-icon,
#linkedin-icon,
#github-icon,
#phone-icon {
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

#email-icon,
#linkedin-icon,
#phone-icon,
#resume {
  cursor: pointer;
  box-shadow: -5px -5px 20px #fff, 5px 5px 10px #babecc;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
}
#email-icon:hover,
#linkedin-icon:hover,
#phone-icon:hover,
#resume:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
#email-icon:hover {
  color: #d44638;
}

.resume-section span {
  color: black;
  margin-left: 16px;
  text-decoration: none;
}
.resume-section:hover span {
  text-decoration: underline #ed2224;
}

.holder {
  display: flex;
  position: relative;
}

.btn {
  background-color: black !important;
  height: fit-content;
  width: fit-content;
  // color: red;
  //   border-radius: 6px;
  transition: transform 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  //   background-color: transparent;
  border-radius: 50%;
  margin: 4px 0;
  // padding: 8px;

  color: white !important;
  // &:hover {

  // background-color: black !important;
  // }
  &.a {
    &:hover {
      background-color: #d44638 !important;
    }
  }
  &.b:hover {
    background-color: green !important;
  }
  &.c:hover {
    background-color: #0e76a8 !important;
  }
}

.a {
  &:hover {
    color: #d44638;
  }
}
.b {
  &:hover {
    color: green;
  }
}
.c {
  &:hover {
    color: #0e76a8;
  }
}
.d {
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: inherit;
  border-radius: inherit;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translate(-10px, -10px);
}
.btn:hover::after {
  transform: translate(4px, 4px);
  width: 100%;
}
.btn:hover::before {
  transform: translate(8px, 8px);
  width: 100%;
}
