@use "../abstracts" as *;

.navbar {
  background-color: $nav;
  width: 100%;
  height: 64px;
  display: flex;
  @include outline();
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-logo-container {
  width: 50%;
  display: flex;
}

.nav-logo {
  width: 32px;
  height: 32px;
  border: 1px solid $text;
  border-radius: 50%;
  background: transparent;
  color: $text;
  display: flex;
  margin: auto;

  h1 {
    margin: auto;
    font-size: 20px;
  }
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  background-color: $nav-link;
  height: fit-content;
  padding: 4px 8px;
  margin: auto 0;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: $text;

  &.active {
    background-color: $nav-link-active;
  }

  &:hover {
    background-color: $nav-link-active;
  }

  @include buttonExpand();
}

.nav-burger {
  display: none;
  cursor: pointer;

  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.nav-burger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.nav-burger-toggle .line2 {
  opacity: 0;
}
.nav-burger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    height: 93vh;
    right: 0px;
    top: 64px;
    background-color: $nav;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .nav-burger {
    display: block;
    margin: auto;
  }
}

.nav-active {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
